/**
 * Estilos para os menus hover do header
 */

.navbar-item.has-dropdown:hover .navbar-dropdown {
    display: block;
}

.navbar-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
    z-index: 20;
    min-width: 200px;
}

.navbar-dropdown .navbar-item {
    padding: 0.5rem 1rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.navbar-dropdown .navbar-item:hover {
    background-color: #f5f5f5;
}

.navbar-dropdown .navbar-item .icon {
    margin-right: 0.5rem;
}

.navbar-dropdown .navbar-item.is-danger:hover {
    color: #ff3860;
}